**NARGEOT** Melvine
**PATTE** Mathys

# Projet Outil Informatique

In [ ]:
%pip install requests

In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import requests

## Données

### Sources

https://www.ngdc.noaa.gov/hazel/hazard-service/api/v1/volcanoes?page=1
https://volcano.si.edu/search_eruption.cfm
https://www.kaggle.com/datasets/jessemostipak/volcano-eruptions/
https://data.cerdi.uca.fr/erup-vol/
https://public.opendatasoft.com/explore/dataset/significant-volcanic-eruption-database/export/
https://www.ngdc.noaa.gov/hazel/view/hazards/volcano/event-search/
https://berkeleyearth.org/data/

### Import

In [16]:
url = ("https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/significant-volcanic-eruption-database/exports/json?lang=fr&timezone=Europe%2FBerlin")

response = requests.get(url)

with open("datasets/volcanic.json", mode="wb") as file:
    file.write(response.content)

In [17]:
volcanic = pd.read_json("datasets/volcanic.json")

,year,month,day,tsu,eq,name,location,country,elevation,type,...,total_missing_description,total_injuries,total_injuries_description,total_damage_millions_dollars,total_damage_description,total_houses_destroyed,total_houses_destroyed_description,coordinates,houses_damaged_description,total_houses_damaged_description
0,-141,NaN,NaN,None,None,Etna,Italy,Italy,3350,Stratovolcano,...,None,NaN,None,NaN,None,NaN,None,"{'lon': 15.004, 'lat': 37.734}",NaN,NaN
1,1262,NaN,NaN,None,None,Katla,Iceland-S,Iceland,1512,Subglacial volcano,...,None,NaN,None,NaN,None,NaN,None,"{'lon': -19.05, 'lat': 63.63}",NaN,NaN
2,1300,7.0,11.0,None,None,Hekla,Iceland-S,Iceland,1491,Stratovolcano,...,None,NaN,None,NaN,None,NaN,None,"{'lon': -19.7, 'lat': 63.98}",NaN,NaN
3,1331,12.0,NaN,None,None,Aso,Kyushu-Japan,Japan,1592,Caldera,...,None,NaN,None,NaN,None,NaN,None,"{'lon': 131.1, 'lat': 32.88}",NaN,NaN
4,1714,6.0,30.0,Tsunami,None,Vesuvius,Italy,Italy,1281,Complex volcano,...,None,NaN,None,NaN,None,NaN,None,"{'lon': 14.426, 'lat': 40.821}",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830,1979,7.0,5.0,None,None,Etna,Italy,Italy,3350,Stratovolcano,...,None,23.0,Few (~1 to 50 deaths),NaN,None,NaN,None,"{'lon': 15.004, 'lat': 37.734}",NaN,NaN
831,1982,5.0,17.0,None,None,Galunggung,Java,Indonesia,2168,Stratovolcano,...,None,NaN,None,15.0,SEVERE (~>$5 to $24 million),NaN,None,"{'lon': 108.05, 'lat': -7.25}",NaN,NaN
832,1988,7.0,6.0,None,None,Arenal,Costa Rica,Costa Rica,1657,Stratovolcano,...,None,NaN,None,NaN,None,NaN,None,"{'lon': -84.703, 'lat': 10.463}",NaN,NaN
833,2005,11.0,24.0,None,None,Karthala,Indian O-W,Comoros,2361,Shield volcano,...,None,NaN,None,NaN,LIMITED (roughly corresponding to less than $1...,NaN,None,"{'lon': 43.38, 'lat': -11.75}",NaN,NaN
834,2010,12.0,28.0,None,None,Tengger Caldera,Java,Indonesia,2329,Stratovolcano,...,None,NaN,None,NaN,None,NaN,None,"{'lon': 112.95, 'lat': -7.942}",NaN,NaN

### Cleaning

## Analyse